<br>
<br>
<br>
<center>
  <h1>Welcome to veterinary shop</h1>
  <br>
<br>
<br>
  <%= link_to 'Sign in', new_user_session_path, class: "btn btn-lg btn-primary" %>
 <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-lg btn-primary" %>
</center>
<br>
<br>
<br>
<br>


