<br>
<div class="well col-sm-8 col-sm-offset-2">
 <div class="pull-right">
    <%= link_to 'Show', @appointment, class: "btn btn-sm btn-primary" %>
    <%= link_to 'Back', appointments_path, class: "btn btn-sm btn-default" %>
  </div>
  <center>
    <h1>Editing Appointment</h1>
  </center>

  <hr>
  <%= render 'form' %>

</div>
